main {
    margin: 0;
    background-color: #f1ece6;
    height: 100vh;
}

.auth-card {
    margin: 30px auto 0;
    width: 50%;
    background-color: white;
    border: 1px solid #baa899;
    border-radius: 5px;
    padding: 40px;
}

.auth-field {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 20px;
    color: #83746b;
}
.auth-field input {
    height: 2.5em;
    padding-left: 20px;
    background-color: #f4f4f4;
    border: none;
}

.auth-title {
    margin-bottom: 5px;
}

.auth-button {
    display: block;
    width: 120px;
    height: 40px;
    margin: 30px auto;
    background-color: #83746b;
    border: none;
    color: #ffffff;
    cursor: pointer;
}