.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    border-bottom: 1px solid #baa899;
}

.header-logo {
    margin: 0 auto;
    font-size: 40px;
    color: #83746b;
    font-family: Georgia, 'Times New Roman', serif;
}


/* thanks以外の全ページ共通 */
h1 {
    margin: 0;
    padding-top: 30px;
    text-align: center;
    font-size: 28px;
    color: #83746b;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', serif;
}

.header-button {
    position: absolute;
    right: 50px;
    padding: 5px 15px;
    border: 1px solid #baa899;
    color: #baa899;
    background-color: #f4f4f4;
    text-decoration: none;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', serif;
}

.error-message {
    width: 100%;
    color: rgb(176, 0, 0);
    font-size: 12px;
    margin: 4px 0 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect (0, 0, 0, 0);
}

button,
a {
    user-select: none;
}